<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebTech Indonesia</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <ul>
            <li><img src="assets/Computer_Logo.png" alt="Logo"></li>
            <li id="nav-link"><input type="text" placeholder="Search..."></li>
            <li id="nav-link"><a href="#">Admin Dashboard</a></li>
            <li id="nav-link"><a href="#">Profile</a></li>
            <li id="nav-link"><a href="#">Logout</a></li>
            <li id="open">Open</li>
        </ul>

        <ul class="sidebar">
            <li id="close">X</li>
            <li><input type="text" placeholder="Search..."></li>
            <li><a href="#">Admin Dashboard</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Logout</a></li>
        </ul>
    </nav>
    <main>

        <div class="sidebar">
            <h1>Sidebar</h1>
            <ul>
                <li>Blogs</li>
                <li>Portfolio</li>
                <li>Banner</li>
                <li>Users</li>
            </ul>
        </div>

        <section id="users">
            <h1>Users</h1>
            <table>
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>john.doe</td>
                        <td>john.doe@gmail.com</td>
                        <td class="action"><a href="#">Delete</a></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>john.doe</td>
                        <td>john.doe@gmail.com</td>
                        <td class="action"><a href="#">Delete</a></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>john.doe</td>
                        <td>john.doe@gmail.com</td>
                        <td class="action"><a href="#">Delete</a></td>
                    </tr>
                </tbody>
            </table>
        </section>

        <section id="charts">
            <img src="assets/imgs/chart1.png" alt="chart1">
            <img src="assets/imgs/chart2.png" alt="chart2">
            <img src="assets/imgs/chart3.png" alt="chart3">
        </section>

    </main>
    <footer id="footer">
        <ul>
            <li><a href="#"><img src="assets/imgs/instagram.png" alt="instagram" height="30"></a></li>
            <li><a href="#"><img src="assets/imgs/youtube.png" alt="youtube" height="30"></a></li>
            <li><a href="#"><img src="assets/imgs/yahoo.png" alt="yahoo" height="30"></a></li>
        </ul>
        <p>© Copyright. All rights reserved</p>
        <p>Designed by : fazril</p>
    </footer>
    <script src="script.js"></script>
</body>
</html>