<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebTech Indonesia</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <ul>
            <li><img src="assets/Computer_Logo.png" alt="Logo"></li>
            <li id="nav-link"><a href="/blog.html">News</a></li>
            <li id="nav-link"><a href="#">Portfolio</a></li>
            <li id="nav-link"><a href="#">Dashboard</a></li>
            <li id="nav-link"><a href="#">Profile</a></li>
            <li id="nav-link"><a href="#">Logout</a></li>
            <li id="open">Open</li>
        </ul>

        <ul class="sidebar">
            <li id="close">X</li>
            <li><a href="/blog.html">News</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Logout</a></li>
        </ul>
    </nav>
    <main>

        <section id="blog-detail">
            <header>
                <h1>Blog Title</h1>
                <p>18/03/2007 — #romance #modern #rawr</p>
                <p>1000 views & 1200 comments</p>
            </header>
            <img class="hero" src="assets/imgs/images (9).jpg" alt="hero">
            <div class="content">
                <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet </p>
                <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet </p>
                <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet </p>
                <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet </p>
            </div>
            <span id="tags">Popular Tags: #lorem #ipsum</span>
            <div class="author">
                <img src="assets/imgs/images (5).webp" alt="profile_picture" height="82">
                <div class="info">
                    <h1>By fazrilsh</h1>
                    <p>hai@fazrilsh.my.id</p>
                </div>
            </div>
            <div class="comment-section">
                <form action="#">
                    <h1>Comment</h1>
                    <label>
                        <input type="text" name="name" id="name" placeholder="Name">
                        <input type="email" name="email" id="email" placeholder="Email">
                    </label>
                    <input type="text" name="subject" id="subject" placeholder="Subject">
                    <textarea name="comment" id="comment">Comment....</textarea>
                    <div class="buttons">
                        <div class="captcha">
                            <span>12 + 20</span> <input type="text" name="captcha" id="captcha">
                        </div>
                        <button>Submit</button>
                    </div>
                </form>

                <ul class="comments">
                    <h1>Comments</h1>
                    <li>
                        <img src="assets/imgs/images (16).jpg" alt="profile_picture">
                        <div>
                            <header>
                                <h3>Nama</h3>
                                <span>18/03/2007</span>
                            </header>
                            
                            <aside>
                                <p>Lorem ipsum dolor sitametLorem ipsum dolor sitametLorem ipsum dolor sitametLorem ipsum dolor sitametLorem ipsum dolor sitametLorem ipsum dolor sitamet</p>
                            </aside>
                        </div>
                    </li>
                    <li>
                        <img src="assets/imgs/images (16).jpg" alt="profile_picture">
                        <div>
                            <header>
                                <h3>Nama</h3>
                                <span>18/03/2007</span>
                            </header>
                            
                            <aside>
                                <p>Lorem ipsum dolor sitametLorem ipsum dolor sitametLorem ipsum dolor sitametLorem ipsum dolor sitametLorem ipsum dolor sitametLorem ipsum dolor sitamet</p>
                            </aside>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

    </main>
    <footer id="footer">
        <ul>
            <li><a href="#"><img src="assets/imgs/instagram.png" alt="instagram" height="30"></a></li>
            <li><a href="#"><img src="assets/imgs/youtube.png" alt="youtube" height="30"></a></li>
            <li><a href="#"><img src="assets/imgs/yahoo.png" alt="yahoo" height="30"></a></li>
        </ul>
        <p>© Copyright. All rights reserved</p>
        <p>Designed by : fazril</p>
    </footer>
    <script src="script.js"></script>
</body>
</html>