<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebTech Indonesia</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <ul>
            <li><img src="assets/Computer_Logo.png" alt="Logo"></li>
            <li id="nav-link"><a href="#gallery">Gallery</a></li>
            <li id="nav-link"><a href="#services">Services</a></li>
            <li id="nav-link"><a href="#portfolio">Portfolio</a></li>
            <li id="nav-link"><a href="#">News</a></li>
            <li id="nav-link"><a href="#">Testimonials</a></li>
            <li id="nav-link"><a href="#">Login</a></li>
            <li id="open">Open</li>
        </ul>

        <ul class="sidebar">
            <li id="close">X</li>
            <li><a href="#gallery">Gallery</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Testimonials</a></li>
            <li><a href="#">Login</a></li>
        </ul>
    </nav>
    <main>

        <section id="banner">
            <div class="slider">
                <img class="active" src="assets/imgs/images (16).jpg" alt="1">
            </div>
            <div class="dots">
                <div class="active"></div>
                <div></div>
                <div></div>
            </div>
        </section>

        <section id="text">
            <img src="assets/imgs/images (5).png" alt="2" height="300">
            <div class="text">
                <h1>Lorem Ipsum Dolor</h1>
                <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
            </div>
        </section>

        <section id="gallery">
            <header>
                <h1>Gallery</h1>
            </header>
            <aside>
                <img src="assets/imgs/images (5).webp" alt="gallery" height="300">
                <img src="assets/imgs/images (5).webp" alt="gallery" height="300">
                <img src="assets/imgs/images (5).webp" alt="gallery" height="300">
            </aside>
        </section>

        <section id="services">
            <header>
                <h1>Services</h1>
            </header>
            <aside>
                <div class="card">
                    <img src="assets/imgs/images (6).webp" alt="web" height="160">
                    <h1 class="card-title">Web Development</h1>
                    <p class="card-content">Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
                </div>
                <div class="card">
                    <img src="assets/imgs/images (6).webp" alt="web" height="160">
                    <h1 class="card-title">Web Development</h1>
                    <p class="card-content">Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
                </div>
                <div class="card">
                    <img src="assets/imgs/images (6).webp" alt="web" height="160">
                    <h1 class="card-title">Web Development</h1>
                    <p class="card-content">Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
                </div>
            </aside>
        </section>

        <section id="portfolio">
            <header>
                <h1>Portfolio</h1>
            </header>
            <aside>
                <div class="card">
                    <img src="assets/imgs/images (7).webp" alt="porto" height="180" width="200">
                    <h1 class="card-title">Web Development</h1>
                    <p class="card-content">Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
                    <footer>
                        <p class="author">Author</p>
                        <div class="views">
                            <span>100</span>
                            <span>views</span>
                        </div>
                    </footer>
                </div>
                <div class="card">
                    <img src="assets/imgs/images (7).webp" alt="porto" height="180" width="200">
                    <h1 class="card-title">Web Development</h1>
                    <p class="card-content">Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
                    <footer>
                        <p class="author">Author</p>
                        <div class="views">
                            <span>100</span>
                            <span>views</span>
                        </div>
                    </footer>
                </div>
                <div class="card">
                    <img src="assets/imgs/images (7).webp" alt="porto" height="180" width="200">
                    <h1 class="card-title">Web Development</h1>
                    <p class="card-content">Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
                    <footer>
                        <p class="author">Author</p>
                        <div class="views">
                            <span>100</span>
                            <span>views</span>
                        </div>
                    </footer>
                </div>
            </aside>
        </section>

    </main>
    <footer id="footer">
        <ul>
            <li><a href="#"><img src="assets/imgs/instagram.png" alt="instagram" height="30"></a></li>
            <li><a href="#"><img src="assets/imgs/youtube.png" alt="youtube" height="30"></a></li>
            <li><a href="#"><img src="assets/imgs/yahoo.png" alt="yahoo" height="30"></a></li>
        </ul>
        <p>© Copyright. All rights reserved</p>
        <p>Designed by : fazril</p>
    </footer>
    <script src="script.js"></script>
</body>
</html>